<html><head>
<meta charset="utf-8">
<meta content="手机助手，手机助手电脑版，手机助手安卓版，手机软件，手机游戏，手机助手下载，苹果应用，安卓软件" name="Keywords">
<meta name="description" content="蜂助手平台为用户提供绿色、健康、安全的应用和游戏，同时支持Android、iOS两大智能平台">
<title>蜂助手，您手机的好帮手</title>
<link rel="shortcut icon" href="fzs.ico">
<link rel="stylesheet" href="css/base.css">
<link rel="stylesheet" href="css/app.css">
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<![endif]-->
<!--[if IE 6]>
<script type="text/javascript" src="js/DD_belatedPNG_0.0.8a-min.js"></script>
<script>
    DD_belatedPNG.fix('header p a,.logo,.contact-nav li a,.main,nav.main li a,.brief-block dt,.tab.visited span,#brief dl');
</script>
<![endif]-->
<script src="js/jquery-1.8.3.js"></script>
<script>
$(function(){
	$("nav.main li").click(function(){
		$(this).addClass("visited").siblings("li").removeClass("visited");
		$("#"+$(this).attr("target")).show().siblings().hide();
	})	
	$(".intro-block .tab-button button").click(function(){
		$(this).addClass("visited").siblings("button").removeClass("visited");
		$(this).parent().siblings("div.img").find("img").eq($(this).index()).show().siblings().hide();
	})
});
</script>
<body>
	<div id="contact" class="wrap body">
		<header>
            <div class="w980 ma">
                <div class="nav-border">
                    <a href="http://www.phone580.cn"><div class="logo"></div></a>
                    <nav class="main">
                        <ul>
                        	<li><a href="http://www.phone580.cn">公司介绍</a></li>
                            <li class="visited"><a href="service.html">服务产品</a></li>
                            <li><a href="app.html?apptype=hot&modelId=303&appTemplateType=2">应用下载</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
		<div class="content-bg">
			<div class="w995 ma">
				<section class="clearfix">
					<div class="contact-content" id="introduce" >
						
						<div class="m20">
							<p class="product-intro">我们长期专注于为运营商、线下手机销售渠道提供<span class="orange">平台级、一体化、定制化、可增值</span>的手机助手类服务产品解决方案。
以七种产品的形式，<span class="redf">均支持安卓、苹果手机</span>，通过<span class="redf">“数据线、本地局域网WIFI、二维码”</span>等下载方式，满足不同服务环节的需求，具体如下：</p>
							
							<div class="intro-block cb clearfix mt15">
								<img src="img/contact_01.png" alt="PC版手机助手" class="fl">
								<h2 class="w1">① PC版手机助手</h2>
								<p class="w1">手机销售人员或个人用户管理手机的应用服务产品</p>
								<ul class="product-desc w1">
									<li class="w_50">一款能赚钱的助手</li><li class="w_50">一款功能强大的助手</li>
									<li class="w_50">一款带服务的助手</li><li class="w_50">一款可定制化界面的助手</li>
									<li class="w_50">一款能充话费的助手</li><li class="w_50">一款不联网也可使用的助手</li>
									<li class="w_100 redf">一款同时支持安卓、越狱和非越狱苹果手机的助手</li>
								</ul>
							</div>
							<div class="intro-block cb clearfix">
								<h2>② 触摸一体机自助版</h2>
								<p class="w2">适用于营业网点、让服务有形化、提升厅店的展示效果</p>
								<div class="imgtab">
									
									<div class="img">
										<img src="img/contact_02.png" alt="触摸一体机自助版" class="_ml12" style="display: inline;">
										<img src="img/contact_03.png" alt="触摸一体机自助版" class="hide" style="display: none;">
									</div>
									
									<div class="nav tab-button">
										<button class="tab visited"><span></span>卧式</button><button class="tab"><span></span>壁挂式</button>
									</div>
									
								</div>
								
								
								<ul class="product-desc clearfix w2 mt20">
									<li class="w_55">热门应用、游戏一键离线安装，无需等待</li><li class="">内容动态更新、自动升级、远程维护管理</li>
									<li class="w_55">业务体验、办理、客户端安装流程一体化</li><li class="">流量套餐、业务套餐展示、一键便捷办理</li>
									<li class="w_55">完善的、多维度的、及时准确的统计报表</li><li class="redf">同时支持安卓、越狱和非越狱苹果手机</li>
									<li class="w_100">灵活的界面个性化定制，灵活的功能扩展</li>
								</ul>
								
							</div>
							<div class="intro-block cb clearfix">
                            	<img src="img/contact_041.png" alt="安卓PAD版助手" class="fr mt15">
								<h2 class="w3">③ 安卓PAD版助手</h2>
								<p class="w3">走动式、上门服务、面对面服务的手机助手服务工具</p>
								<ul class="product-desc w3">
									<li class="w_100">热门应用、游戏一键离线安装，无需等待</li>
									<li class="w_100">免驱动适配，手机适配率高，连接速度快</li>
									<li class="w_100">业务体验、办理、客户端安装流程一体化</li>
									<li class="w_100">流量套餐、业务套餐展示、一键便捷办理</li>
									<li class="w_100">一线营销人走动式、面对面服务的好帮手</li>
									<li class="w_100">完善的、多维度的、及时准确的统计报表</li>
									<li class="w_100 redf">同时支持安卓、越狱和非越狱苹果手机</li>
								</ul>
							</div>
							<div class="intro-block cb clearfix">
								<img src="img/contact_05.png" alt="安卓手机版助手" class="fl mt10 _ml22">
								<h2 class="w4">④ 安卓手机版助手</h2>
								<p class="w4">个人客户管理手机的伴侣</p>
								<ul class="product-desc w4">
									<li class="w_53">一款能赚钱的APP</li><li class="w_47">一款能分享应用的APP</li>
									<li class="w_53">一款能充话费的APP</li><li class="w_47">一款带手机钱包的APP</li>
									<li class="w_53">一款助您用好手机的APP</li><li class="w_47">一款助您玩好手机的APP</li>
									<li class="w_100 redf">一款同时支持安卓、越狱和非越狱苹果手机的助手</li>
								</ul>
							</div>
							<div class="intro-block cb clearfix">
								<h2>⑤ 批量装机系统（软件版）</h2>
                            	<img src="img/contact_06.png" alt="批量装机系统（软件版）" class="fr">
								<p class="w3">大型仓库快速安装手机应用工具</p>
								<ul class="product-desc w3">
									<li class="w_100">支持同时接入8、12或18台手机安装应用</li>
									<li class="w_100">自动识别手机、安装驱动、连接手机</li>
									<li class="w_100">支持自动、同步、静默安装手机应用</li>
									<li class="w_100">平均每人每天装机量达800台以上</li>
									<li class="w_100">支持离线应用安装，联网自动同步数据</li>
									<li class="w_100">完善的、多维度的、及时准确的统计报表</li>
								</ul>
							</div>
							<div class="intro-block cb clearfix">
								<img src="img/contact_10.png" alt="智能WI-FI" class="fl ml20 mt30">
								<h2 class="w6">⑥ 智能WI-FI</h2>
								<p class="w6">适用于机场、学校、工厂等公共场合</p>
								<ul class="product-desc w6">
									<li class="w_100">智能双频WIFI，支持2.4G、5G</li>
									<li class="w_100">大容量，支持50人以上同时连接</li>
									<li class="w_100">简单便捷，接上电源即可使用</li>
									<li class="w_100">本地大容量高速存储，应用、视频、音乐、电子书等内容本地存放，免流量使用</li>
								</ul>
							</div>
							<div class="intro-block cb clearfix" style="border-bottom:0;">
								<h2 class="w3">⑦蜂助手应用盒</h2>
								<img src="img/contact_09.png" alt="蜂助手应用盒" class="fr">
								<p class="w3">小型仓库、店面应用自动安装助手</p>
								<ul class="product-desc w3">
									<li class="w_100">8口、4口两种产品，同时连4台或8台手机</li>
									<li class="w_100">联网自动获取需要安装的应用</li>
									<li class="w_100">自动连接手机，自动完成应用安装</li>
									<li class="w_100">免驱动，手机适配率高，连接速度快</li>
									<li class="w_100">每小时的装机能力达100台以上</li>
									<li class="w_100">支持离线应用安装，联网自动同步数据</li>
									<li class="w_100">完善的、多维度的、及时准确的统计报表</li>
									<li class="w_100 redf">同时支持安卓、越狱和非越狱苹果手机的助手</li>
								</ul>
							</div>
							
						</div>
                       
					</div>
				</section>
				<footer>
					<p class="pt30 pb30">copyright&nbsp;©2011-2014&nbsp;&nbsp;广东蜂助手网络技术有限公司&nbsp;&nbsp;粤ICP备15001879号</p>
				</footer>
			</div>
		</div>
	</div>
</body></html>