@{
    ViewBag.Title = "关于DesktopAndroid";
}
<script data-main="/Scripts/fbs/moreAppdl" src="/Scripts/lib/require-jquery.js"></script>
<script>
    $(function () {
        $("li.navHome").addClass("visited").siblings("li").removeClass("visited");
        $("nav.main li").click(function () {
            $(this).addClass("visited").siblings("li").removeClass("visited");
            $("#" + $(this).attr("target")).show().siblings().hide();
        })
        $(".intro-block .tab-button button").click(function () {
            $(this).addClass("visited").siblings("button").removeClass("visited");
            $(this).parent().siblings("div.img").find("img").eq($(this).index()).show().siblings().hide();
        })
    });
</script>
<div id="body" class="wrap body">
    <div class="content-bg">
        <div class="w995 ma">
            <section class="clearfix">
                <!--
                <div class="search-bar clearfix">
                    <ul class="mov_plat" id="platForm">
                        <li modelId="303" name="plat" class="visited"><span class="andr-ic"></span>应用首页</li>
                    </ul>
                    <div class="search">
                        <span class="lf-side"></span>
                        <input id="appName" type="search" placeholder="搜索应用"/>
                        <button id="searchForName"></button>
                    </div>
                </div>
-->
                @*<h2>请下载应用后，拖动安装包文件到软件界面上即可完成安装。</h2>*@
                <body>
                    <h3>DesktopAndroid模拟器 ( <a href="http://vdisk.weibo.com/s/FBGffgsru_ieI">下载地址</a> ) 的原理是将Android运行时移植到Windows上实现Android应用在Windows上的运行。</h3>
                    <br />
                    <h3 style="font-style:italic">为什么要做这样的一款模拟器？</h3>
                    <br />
                    <h3>简单而言，就是<strong style="color:pink">相对而言的低耗</strong>和<strong style="color:pink">相对完美的音质。</strong></h3>
                    <br />
                    <h3>其他的模拟器是通过在Windows上模拟硬件，造成的问题是，运行的时候比较消耗资源，而且对于音乐，电台等应用来说，音质会差很多，因为这类应用通过模拟声卡来输出声音。我们一开始的目的很简单，在Windows上没有好的豆瓣电台客户端，所以我们就将尝试移植豆瓣电台到Windows的运行时，效果很好，远远超过一般的Android手机，因为这些手机不能驱动音质好的耳机。</h3>
                    <br />
                    <div style="text-align:center"><img style="width:80%" src="http://ww1.sinaimg.cn/large/0063fUGpgw1epxc1wsbljj30xn0kcgq6.jpg" /></div>
                    <h3>后来我们尝试做更多的事情，所以有了DesktopAndroid这个产品。在中端配置（i5，4G内存）的64位电脑上，可以同时运行多个应用。</h3>
                    <br />
                    <div style="text-align:center"><img style="width:80%" src="http://ww3.sinaimg.cn/large/0063fUGpgw1epxcfbsboyj311m0klqax.jpg" /></div>
                    <br />
                    <h3>当然DesktopAndroid也有相当大的短板，就是不能兼容大部分游戏，毕竟它走了一条不同于模拟器的道路，注重的是低耗和音质。现有的兼容应用可以在“下载更多”处查看和下载，我们也会定期移植新的应用。</h3>
                    <br />
                    <h3>祝你使用愉快。</h3>
                </body>
            </section>
        </div>
        <footer />
    </div>
</div>