@{
    ViewBag.Title = "Pay";
}
<script src="/Scripts/lib/require-jquery.js"></script>
<script>
    $(function () {
        $("li.navPay").addClass("visited").siblings("li").removeClass("visited");
        $("nav.main li").click(function () {
            $(this).addClass("visited").siblings("li").removeClass("visited");
            $("#" + $(this).attr("target")).show().siblings().hide();
        })
        $(".intro-block .tab-button button").click(function () {
            $(this).addClass("visited").siblings("button").removeClass("visited");
            $(this).parent().siblings("div.img").find("img").eq($(this).index()).show().siblings().hide();
        })
    });
</script>
<div id="body">
    <div>
        <div class="w995 ma">
            <h2>扫描下方二维码</h2>
            <img src="~/Images/qrcode.jpg"/>
        </div>
        <footer />
    </div>
</div>
